body{
    font-family: arial, sans-serif;
    background-color: #e9e4f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    width: 300px;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 5px ;
    margin: 10px;
}

button[type="submit"]{
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    background-color: hsl(122, 39%, 50%);
    color: whitesmoke;
}

button[type="submit"]:hover{
    background-color: hsl(122, 39%, 40%);
}

.card{
    width: 300px;
    background:linear-gradient(hsl(210, 100%, 70%),hsl(40, 100%, 75%));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0.5%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;

}

p{
    font-size: 1.5rem;
    margin: 10px 0 ;
}

.cityDisplay,.tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 25px;
}

.weatherEmoji{
    font-size: 7rem;
    margin-bottom: 25px;
}

.errorDisplay{
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%, 0.75);
}
